# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
# ---------------------------------------------------------------------------
# "OrdererOrgs" - Definition of organizations managing orderer nodes.
# All its nodes organizational unit (OU) will be overwritten as "orderer".
# ---------------------------------------------------------------------------
OrdererOrgs:
  # ---------------------------------------------------------------------------
  # Orderer
  # ---------------------------------------------------------------------------
  - Name: SampleOrg
    Domain: sample-org.com

    # ---------------------------------------------------------------------------
    # "CA"
    # ---------------------------------------------------------------------------
    # Uncomment this section to enable the explicit definition of the CA for this
    # organization.  This entry is a Spec.  See "Specs" section below for details.
    # ---------------------------------------------------------------------------
    # CA:
    #    Hostname: ca # implicitly ca.org1.example.com
    #    Country: US
    #    Province: California
    #    Locality: San Francisco
    #    OrganizationalUnit: Hyperledger Fabric
    #    StreetAddress: address for org # default nil
    #    PostalCode: postalCode for org # default nil
    #    PublicKeyAlgorithm: ecdsa # CA's key algorithm ("ecdsa" or "ed25519")
    CA:
      Hostname: ca.sample-org.com
      CommonName: SampleOrgCA
      PublicKeyAlgorithm: ecdsa

    # ---------------------------------------------------------------------------
    # "Template"
    # ---------------------------------------------------------------------------
    # Allows for the definition of 1 or more hosts that are created sequentially
    # from a template. By default, this looks like "peer%d" from 0 to Count-1.
    # You may override the number of nodes (Count), the starting index (Start)
    # or the template used to construct the name (Hostname).
    #
    # PublicKeyAlgorithm: Hosts' key algorithm ("ecdsa" or "ed25519")
    #
    # Note: Template and Specs are not mutually exclusive.  You may define both
    # sections and the aggregate nodes will be created for you.  Take care with
    # name collisions
    # ---------------------------------------------------------------------------
    Template: &NodeTemplate
      Count: 1
      Start: 1
      Hostname: "{{.Prefix}}-{{.Index}}.{{.Domain}}"
      SANS:
        - "{{.Hostname}}.alt.{{.Domain}}"
      PublicKeyAlgorithm: ecdsa

    # ---------------------------------------------------------------------------
    # "Specs"
    # ---------------------------------------------------------------------------
    # Uncomment this section to enable the explicit definition of hosts in your
    # configuration.  Most users will want to use Template, below
    #
    # Specs is an array of Spec entries.  Each Spec entry consists of two fields:
    #   - Hostname:   (Required) The desired hostname, sans the domain.
    #   - CommonName: (Optional) Specifies the template or explicit override for
    #                 the CN.  By default, this is the template:
    #
    #                              "{{.Hostname}}.{{.Domain}}"
    #
    #                 which obtains its values from the Spec.Hostname and
    #                 Org.Domain, respectively.
    #   - SANS:       (Optional) Specifies one or more Subject Alternative Names
    #                 to be set in the resulting x509. Accepts template
    #                 variables {{.Hostname}}, {{.Domain}}, {{.CommonName}}. IP
    #                 addresses provided here will be properly recognized. Other
    #                 values will be taken as DNS names.
    #                 NOTE: Two implicit entries are created for you:
    #                     - {{ .CommonName }}
    #                     - {{ .Hostname }}
    #   PublicKeyAlgorithm: Nodes' key algorithm ("ecdsa" or "ed25519")
    # ---------------------------------------------------------------------------
    # Specs:
    #   - Hostname: foo # implicitly "foo.org1.example.com"
    #     CommonName: foo27.org5.example.com # overrides Hostname-based FQDN set above
    #     SANS:
    #       - "bar.{{.Domain}}"
    #       - "altfoo.{{.Domain}}"
    #       - "{{.Hostname}}.org6.net"
    #       - 172.16.10.31
    #     PublicKeyAlgorithm: ecdsa
    #   - Hostname: bar
    #   - Hostname: baz
    Specs:
      - Hostname: orderer-2.sample-org.com
        CommonName: orderer-2.sample-org.com
        PublicKeyAlgorithm: ecdsa

  - Name: Org1
    Domain: ordering-org-1.com
    CA:
      Hostname: ca.ordering-org-1.com
      CommonName: Org1CA
      PublicKeyAlgorithm: ecdsa
    Template: *NodeTemplate

  - Name: Org2
    Domain: ordering-org-21.com
    Template: *NodeTemplate
    CA:
      Hostname: ca.ordering-org-2.com
      CommonName: Org2CA
      PublicKeyAlgorithm: ecdsa

# ---------------------------------------------------------------------------
# "PeerOrgs" - Definition of organizations managing peer nodes.
# All its nodes organizational unit (OU) will be overwritten as "peer".
# ---------------------------------------------------------------------------
PeerOrgs:
  - Name: PeerOrg1
    Domain: peer-org-1.com
    CA:
      Hostname: ca.peer-org-1.com
      CommonName: PeerOrg1CA
      PublicKeyAlgorithm: ecdsa
    Template: *NodeTemplate

    # ---------------------------------------------------------------------------
    # "Users"
    # ---------------------------------------------------------------------------
    # Count: The number of user accounts _in addition_ to Admin
    # PublicKeyAlgorithm: Users' key algorithm ("ecdsa" or "ed25519")
    # ---------------------------------------------------------------------------
    Users:
      Count: 1
      PublicKeyAlgorithm: ecdsa

  - Name: PeerOrg2
    Domain: peer-org-2.com
    CA:
      Hostname: ca.peer-org-2.com
      CommonName: PeerOrg2CA
      PublicKeyAlgorithm: ecdsa
    Template: *NodeTemplate
    Users:
      Count: 1
      PublicKeyAlgorithm: ecdsa
      Specs:
        - Name: testuser

# ------------------------------------------------------------------------------
# "GenericOrgs" - Definition of organizations managing any organizational unit.
# All its nodes organizational unit (OU) must be defined explicitly.
# ------------------------------------------------------------------------------
GenericOrgs:
  - Name: JointOrg
    Domain: joint-org.com
    CA:
      Hostname: ca.joint-org.com
      CommonName: JointOrgCA
      PublicKeyAlgorithm: ecdsa

    # We cannot use templates for generic organizations as we need to
    # define organizational unit (OU) for each node/user.
    Specs:
      - Hostname: router-1.joint-org.com
        CommonName: router-1.joint-org.com
        PublicKeyAlgorithm: ecdsa
        OrganizationalUnit: orderer
        Party: party-1
      - Hostname: assembler-1.joint-org.com
        CommonName: assembler-1.joint-org.com
        PublicKeyAlgorithm: ecdsa
        OrganizationalUnit: orderer
        Party: party-1
      - Hostname: router-2.joint-org.com
        CommonName: router-2.joint-org.com
        PublicKeyAlgorithm: ecdsa
        OrganizationalUnit: orderer
        Party: party-2
      - Hostname: assembler-2.joint-org.com
        CommonName: assembler-2.joint-org.com
        PublicKeyAlgorithm: ecdsa
        OrganizationalUnit: orderer
        Party: party-2
      - Hostname: endorser.joint-org.com
        CommonName: endorser.joint-org.com
        PublicKeyAlgorithm: ecdsa
        OrganizationalUnit: peer
      - Hostname: committer.joint-org.com
        CommonName: committer.joint-org.com
        PublicKeyAlgorithm: ecdsa
        OrganizationalUnit: peer

    Users:
      # We don't need to define the admin as it is created by default.
      Specs:
        - Name: client
          PublicKeyAlgorithm: ecdsa
